html {
	height: 100%;
}

body {
	display: flex;
	margin: 0;
	padding: 0;
	min-height: 100%;
}

.container {
	width: 500px;
    height: 500px;
    border: 1px solid blue;
    border-radius: 4px;
    margin: auto;
    padding: 0;
    font-size: 0;
}

.square {
	margin: 0;
	padding: 0;
	border: none;
	background-color: darkslategray;
	display: inline-block;
}