html {
	height: 100%;
	background-color: #1a253a;
}

body {
	display: flex;
	margin: 0;
	padding: 0;
	min-height: 100%;
	font-family: cursive;
	color: whitesmoke;
}

h1 {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	text-align: center
}

.container {
	width: 500px;
    height: 500px;
    border: 1px solid #303038;
    border-radius: 4px;
    margin: auto;
    padding: 0;
    font-size: 0;
    box-shadow: 5px 10px 18px #000000;
}

.square {
	margin: 0;
	padding: 0;
	border: none;
	background-color: #57707b;
	display: inline-block;
}